<div class="ticket-form">
  <h4>Créer un Ticket Incident</h4>
  <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Titre</label>
      <input formControlName="titre" type="text" class="form-control">
    </div>
    <div>
      <label>Description</label>
      <textarea formControlName="description" class="form-control"></textarea>
    </div>
    <div>
      <label>Statut</label>
      <input formControlName="statut" type="text" class="form-control">
    </div>
    <div>
      <label>ID Créateur</label>
      <input formControlName="userCreateurId" type="number" class="form-control">
    </div>
    <div>
      <label>ID Assigné (optionnel)</label>
      <input formControlName="userAssigneId" type="number" class="form-control">
    </div>
    <div>
      <label>ID Équipement</label>
      <input formControlName="equipementId" type="number" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Ajouter Ticket</button>
  </form>
</div>
